// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    max-width: 50%;
    display: inline-block;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}


.profile-container{
    margin: 0;
    position: relative;
    padding: 20px;
}

.useredit{
    position: relative;
    margin: 0 auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:600px;
    height:700px;
}

.calendarbox {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.calendarbox .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.btn-circle-border-double {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    border: double 4px #668ad8;
    overflow: hidden;
    transition: .6s;
    text-align: center;
  }
  
.btn-circle-border-double:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }

#wrap5 {
  display: flex;
  flex-wrap: wrap;
}

.box25{
    width: 30%;
    height: 300px;
    font-size:20px;
    float: left;
    list-style: none;

    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
    margin: 0; 
    padding: 0;
}
.userbox {
    margin: 0 auto;
    width:900px;
    margin-left:auto;
    margin-right:auto;
}