<div class="kabegami2">
<h1>投稿ページ</h1>
<div class="postarea">
<%= form_for(@post_image, url: post_images_path) do |f| %>
  <% if @post_image %>
      <% @post_image.errors.full_messages.each do |message| %>
  <% end %>
<% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <%= f.text_area :caption, class:"form-control", rows:"10", placeholder:"コメントここに" %>
  <%= f.submit "送信", class:"btn-sticky" %>
<% end %>
 </div>
 </div>