<body>
        <div class="kabegami">
            <h1>How to Use?</h1>
                <div class="noticebox">
                    <div class="top2box">
                    <p>サインアップが済んだら先ずはマイページへ..!</p>
                    <p>あなたの趣味だけのカレンダーを作成し</p><br>
                    <p>カレンダーのスクショを撮影！</p><br>
                    <p>投稿画面から先程のスクショを投稿しよう！</p>
                    <p>投稿一覧であなたと同じ予定の人と出会えるかも？</p>
                    <p>チャット機能もご活用ください！</p>
                    </div>
                </div>

                <div class="noticebox">
                    <div class="top2box">
                    <p>---！ご注意!---</p><br>
                    <p>長期期間自宅を留守にする等</p>
                    <p>犯罪に巻き込まれる様な投稿はお控えください</p>
                    </div>
                </div>
        </div>
</body>