<body>
        <div class="kabegami">
            <h1>How to Use?</h1>
                <div class="noticebox">
                    <div class="top2box">
                    <p>公開されたカレンダーから自分の予定を見つけよう！</p>
                    <p>まずはマイページからカレンダーを作ろう！</p><br>
                    <p>！ご注意!</p><br>
                    <p>長期期間留守にする等</p>
                    <p>犯罪に巻き込まれる様な投稿はお控えください</p>
                    </div>
                </div>
        </div>
</body>